pandas
llm4time
seaborn
scikit-learn
openpyxl>=3.1.0
numpy
matplotlib
statsmodels
prophet
torch
pytorch-lightning
pytorch-forecasting
sentence-transformers
faiss-cpu
pypdf
beautifulsoup4
requests
tqdm
python-dotenv
notebook
jupyterlab
lightgbm
transformers
datasets
openai
huggingface_hub